openapi: 3.2.0
info:
  title: Azure Quantum Management Offerings API
  version: 2025-12-15-preview
  description: Microsoft.Quantum Resource Provider Management API
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Offerings
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Quantum/locations/{locationName}/offerings:
    get:
      operationId: Offerings_List
      tags:
      - Offerings
      description: Returns the list of all provider offerings available for the given location.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - name: locationName
        in: path
        description: Location.
        required: true
        schema:
          type: string
          maxLength: 90
          minLength: 1
          pattern: '[a-z][a-z0-9]+'
      - name: filter
        in: query
        description: 'The filter to apply to the operation. Example: ''$filter=kind eq ''v1'''
        required: false
        schema:
          type: string
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfferingsListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Offerings_List:
          $ref: ./examples/Offerings_List.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Offerings list
      x-summary-source: derived
components:
  schemas:
    QuotaDimension:
      type: object
      description: Information about a specific quota dimension.
      properties:
        id:
          type: string
          description: Unique id of this dimension.
        scope:
          type: string
          description: The scope of this quota dimension.
        period:
          type: string
          description: The reset period of this quota dimension.
        quota:
          type: number
          format: float
          description: The max limit of this dimension.
        name:
          type: string
          description: The display name of this quota dimension.
        description:
          type: string
          description: A description about this quota dimension.
        unit:
          type: string
          description: The standard unit of measurement used for this quota dimension.
        unitPlural:
          type: string
          description: The standard unit of measurement used for this quota dimension in plural form.
    ProviderPropertiesAad:
      type: object
      description: Azure Active Directory info.
      properties:
        applicationId:
          type: string
          description: Provider's application id.
          readOnly: true
        tenantId:
          type: string
          description: Provider's tenant id.
          readOnly: true
    ProviderPropertiesManagedApplication:
      type: object
      description: Provider's Managed-Application info
      properties:
        publisherId:
          type: string
          description: Provider's publisher id.
          readOnly: true
        offerId:
          type: string
          description: Provider's offer id.
          readOnly: true
    PricingDetail:
      type: object
      description: Detailed pricing information for an sku.
      properties:
        id:
          type: string
          description: Unique id for this pricing information.
        value:
          type: string
          description: The unit cost of this sku.
    TargetDescription:
      type: object
      description: Information about a Target. A target is the component that can process a specific type of Job.
      properties:
        id:
          type: string
          description: Unique target id.
        name:
          type: string
          description: Display name of this target.
        description:
          type: string
          description: A description about this target.
        acceptedDataFormats:
          type: array
          description: List of data formats accepted by this target.
          items:
            type: string
        acceptedContentEncodings:
          type: array
          description: List of content encodings accepted by this target.
          items:
            type: string
        numQubits:
          type: integer
          format: int32
          description: The qubit number
          minimum: 1
          maximum: 100000
          readOnly: true
        targetProfile:
          type: string
          description: Target QIR profile
          readOnly: true
        metadata:
          type: object
          description: The metadata of this target.
          additionalProperties: {}
          readOnly: true
    ProviderProperties:
      type: object
      description: Provider properties.
      properties:
        description:
          type: string
          description: A description about this provider.
          readOnly: true
        providerType:
          type: string
          description: Provider type.
          readOnly: true
        company:
          type: string
          description: Company name.
          readOnly: true
        defaultEndpoint:
          type: string
          description: Provider's default endpoint.
          readOnly: true
        aad:
          $ref: '#/components/schemas/ProviderPropertiesAad'
          description: Azure Active Directory info.
        managedApplication:
          $ref: '#/components/schemas/ProviderPropertiesManagedApplication'
          description: Provider's Managed-Application info
        targets:
          type: array
          description: The list of targets available from this provider.
          items:
            $ref: '#/components/schemas/TargetDescription'
        skus:
          type: array
          description: The list of skus available from this provider.
          items:
            $ref: '#/components/schemas/SkuDescription'
        quotaDimensions:
          type: array
          description: The list of quota dimensions from the provider.
          items:
            $ref: '#/components/schemas/QuotaDimension'
        pricingDimensions:
          type: array
          description: The list of pricing dimensions from the provider.
          items:
            $ref: '#/components/schemas/PricingDimension'
    ProviderDescription:
      type: object
      description: Information about an offering. A provider offering is an entity that offers Targets to run Azure Quantum Jobs.
      properties:
        id:
          type: string
          description: Unique provider's id.
        name:
          type: string
          description: Provider's display name.
          readOnly: true
        properties:
          $ref: '#/components/schemas/ProviderProperties'
          description: Provider properties.
    PricingDimension:
      type: object
      description: Information about pricing dimension.
      properties:
        id:
          type: string
          description: Unique id of this pricing dimension.
        name:
          type: string
          description: The display name of this pricing dimension.
    OfferingsListResult:
      type: object
      description: The response of a list Providers operation.
      properties:
        value:
          type: array
          description: The ProviderDescription items on this page
          items:
            $ref: '#/components/schemas/ProviderDescription'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
    SkuDescription:
      type: object
      description: Information about a specific sku.
      properties:
        id:
          type: string
          description: Unique sku id.
        name:
          type: string
          description: Display name of this sku.
        version:
          type: string
          description: Display name of this sku.
        description:
          type: string
          description: Description about this sku.
        restrictedAccessUri:
          type: string
          description: Uri to subscribe to the restricted access sku.
        autoAdd:
          type: boolean
          description: Flag to indicate whether the sku should be automatically added during workspace creation.
        targets:
          type: array
          description: The list of targets available for this sku.
          items:
            type: string
        quotaDimensions:
          type: array
          description: The list of quota dimensions for this sku.
          items:
            $ref: '#/components/schemas/QuotaDimension'
        pricingDetails:
          type: array
          description: The list of pricing details for the sku.
          items:
            $ref: '#/components/schemas/PricingDetail'
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
