openapi: 3.2.0
info:
  title: Azure Quantum Management Suite Offers API
  version: 2025-12-15-preview
  description: Microsoft.Quantum Resource Provider Management API
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: SuiteOffers
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Quantum/suiteOffers:
    get:
      operationId: SuiteOffers_ListBySubscription
      tags:
      - SuiteOffers
      description: Returns the SuiteOffer resource associated with the given name.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuantumSuiteOfferListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        SuiteOffers_ListBySubscription:
          $ref: ./examples/SuiteOffers_ListBySubscription.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Suite offers list by subscription
      x-summary-source: derived
components:
  schemas:
    QuotaAllocations:
      type: object
      description: Quota allocations with each field representing different quota type.
      properties:
        standardMinutesLifetime:
          type: integer
          format: int32
          description: Lifetime limit for standard priority jobs execution in minutes.
          minimum: 0
        highMinutesLifetime:
          type: integer
          format: int32
          description: Lifetime limit for high priority jobs execution in minutes.
          minimum: 0
      required:
      - standardMinutesLifetime
    QuantumSuiteOfferProperties:
      type: object
      description: Properties of a Quantum Suite Offer
      properties:
        providerId:
          type: string
          description: The provider ID of the offer.
        providerName:
          type: string
          description: The provider name of the offer.
        companyName:
          type: string
          description: The name of the company that is providing this offer.
        location:
          type: string
          description: The location where this offer is available.
        description:
          type: string
          description: Description of the offer.
        quotas:
          $ref: '#/components/schemas/QuotaAllocations'
          description: Quota allocations associated with this offer.
      required:
      - providerId
      - providerName
      - companyName
      - location
      - description
    QuantumSuiteOfferListResult:
      type: object
      description: The response of a QuantumSuiteOffer list operation.
      properties:
        value:
          type: array
          description: The QuantumSuiteOffer items on this page
          items:
            $ref: '#/components/schemas/QuantumSuiteOffer'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
    QuantumSuiteOffer:
      type: object
      description: A Quantum Suite Offer that is available to a subscription.
      properties:
        properties:
          $ref: '#/components/schemas/QuantumSuiteOfferProperties'
          description: The resource-specific properties for this resource.
      allOf:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
